<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="TweetsMadeEasy User Homepage">
  <meta name="author" content="Priyam Shah">

  <title>TweetsMadeEasy | Home</title>
  <link href="/assets/home.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">

</head>
<body >
<div class="container">
	<div class="row no-gutters">
	  <div class="col-md-4 border-right">
		<div class="settings-tray">
          <img class="profile-image" src="<%= photo %>" alt="Img">&nbsp;<%= user %>
		  <span class="settings-tray--right">
            <a href="/logout"><i class="material-icons">power_settings_new</i>&nbsp;</a>
		  </span>
		</div>
		<div class="search-box">
		  <div class="input-wrapper">
			<i class="material-icons">search</i>
			<input placeholder="Search here" type="text">
		  </div>
		</div>
		<div class="friend-drawer friend-drawer--onhover">
		  <img class="profile-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROYU-N7rOBEXUZ5dgBmnwEFmxqQnTfvuBi6FO_HL_KnVoun4Iz&usqp=CAU" alt="">
		  <div class="text">
			<h6>Sharvai</h6>
			<p class="text-muted">Hey, you're champion!</p>
		  </div>
		  <span class="time text-muted small">13:21</span>
		</div>
		<hr>
		<div class="friend-drawer friend-drawer--onhover">
		  <img class="profile-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQ2PX8P0OAh0Yj-bIyGiGzQZ0uaj5KyX6SKSrW-gLyrz7E0Qp6&usqp=CAU" alt="">
		  <div class="text">
			<h6>Prerana</h6>
			<p class="text-muted">Lorem Ipsum</p>
		  </div>
		  <span class="time text-muted small">00:32</span>
		</div>
		<hr>
		<div class="friend-drawer friend-drawer--onhover ">
		  <img class="profile-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQ2PX8P0OAh0Yj-bIyGiGzQZ0uaj5KyX6SKSrW-gLyrz7E0Qp6&usqp=CAU" alt="">
		  <div class="text">
			<h6>Ankita</h6>
			<p class="text-muted">Any update on corona vaccine?</p>
		  </div>
		  <span class="time text-muted small">13:21</span>
		</div>
		<hr>
		<div class="friend-drawer friend-drawer--onhover">
		  <img class="profile-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSoW8SSdxTzsANljINSq1tTLcpl83wRt-pprc55Z-_pyomIvxpA&usqp=CAU" alt="">
		  <div class="text">
			<h6>Ali</h6>
			<p class="text-muted">Im studying spanish...</p>
		  </div>
		  <span class="time text-muted small">13:21</span>
		</div>
		<hr>
		<div class="friend-drawer friend-drawer--onhover">
		  <img class="profile-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSoW8SSdxTzsANljINSq1tTLcpl83wRt-pprc55Z-_pyomIvxpA&usqp=CAU" alt="">
		  <div class="text">
			<h6>Moin</h6>
			<p class="text-muted">I'm not sure...</p>
		  </div>
		  <span class="time text-muted small">13:21</span>
		</div>
		<hr>
		<div class="friend-drawer friend-drawer--onhover">
		  <img class="profile-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQf4o0RhcdMZtmDr2rpnQz_UAEsxaYkCCzKUXqxneAF1-fWn9cQ&usqp=CAU" alt="">
		  <div class="text">
			<h6>Anonymous</h6>
			<p class="text-muted">Hi, wanna see something?</p>
		  </div>
		  <span class="time text-muted small">13:21</span>
		</div>
	  </div>
	  <div class="col-md-8">
		<div class="settings-tray">
			<div class="friend-drawer no-gutters friend-drawer--grey">
			<img class="profile-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROYU-N7rOBEXUZ5dgBmnwEFmxqQnTfvuBi6FO_HL_KnVoun4Iz&usqp=CAU" alt="">
			<div class="text">
			  <h6>Sharvai</h6>

			</div>
		  </div>
		</div>
		<div class="chat-panel">
		  <div class="row no-gutters">
			<div class="col-md-6">
			  <div class="chat-bubble chat-bubble--left">
                <b>Tweet title</b><br>			  
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
            </div>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-md-3 offset-md-9">
			  <div class="chat-bubble chat-bubble--right">
				Great!
			  </div>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-md-3 offset-md-9">
			  <div class="chat-bubble chat-bubble--right">
				Whats your review?
			  </div>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-md-6">
			  <div class="chat-bubble chat-bubble--left">
                <b>Tweet title</b><br>			  
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
			  </div>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-md-6">
			  <div class="chat-bubble chat-bubble--left">
				Last night was a great game.
			  </div>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-md-6">
			  <div class="chat-bubble chat-bubble--left">
				Hey, you're the champion!
			  </div>
			</div>
		  </div>
		  <div class="row no-gutters">
			<div class="col-md-3 offset-md-9">
			  <div class="chat-bubble chat-bubble--right">
				Hey, you're champion!
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-12">
			  <div class="chat-box-tray">
				<i class="material-icons">sentiment_very_satisfied</i>
				<input type="text" placeholder="Type your message here...">
				<i class="material-icons">mic</i>
				<i class="material-icons">send</i>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $( '.friend-drawer--onhover' ).on( 'click',  function() {
  
        $( '.chat-bubble' ).hide('slow').show('slow');
        
      });
  </script>

</html>
